@charset "utf-8";

.home {
    position: fixed;
    top: 0;
    left: 0;
    display: table;
    width: 80px;
    height: 80px;
    font-size: 14px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border-bottom: 0;
    background-color: #be005e;
    z-index: 5;
}

.home span {
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
span.logo {
    font-family: ys-webfont;
font-size: 42px;
position: relative;
top: -12px;
}

.eclipse-wrapper {position: relative;}
.eclipse-wrapper button {border: none; -webkit-appearance: none; appearance: none; cursor: pointer;}

.eclipse-hide {display: none !important;}

.eclipse-slider {transition: all 300ms;}

.image-left, .image-right
{
	margin: 1em 0;
}

.footer {
    font-size: xx-small;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    /* background-color: red; */
    color: rgb(77, 77, 77);
    text-align: center;

}

.page {
    max-width: 600px;
    width: 92%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

h2 {
    font-size: 2em;
    line-height: 1.2;
    padding-top: 1.5em;
    margin-bottom: .5em;
    vertical-align: middle;
}


.eclipse-slides {
    height: 400px;
    width: 100%;
    /* border-radius: 15px; */
    background: #fff;
    /* font-size: 2em; */
    line-height: 300px;
    /* text-align: center; */
    color: #4b4b4b;
}

.eclipse-slides img {max-width: 100%;}
.eclipse-active {z-index: 10;}

.eclipse-clone {z-index: 0 !important;}

.eclipse-arrow {
    display: block;
    position: absolute; top: 50%; z-index: 11; width: 21px; height: 35px; margin: -18px 0 0;
    background: url(images/arrow.png) 0 0 no-repeat;
    text-indent: -9999em; border: none; -webkit-appearance: none; appearance: none; cursor: pointer;}
.eclipse-arrow.eclipse-prev {left: -50px; transform: rotate(180deg);}
.eclipse-arrow.eclipse-next {right: -50px;}

.eclipse-controls {position: absolute; left: 50%; bottom: 30px; z-index: 11; line-height: 0; transform: translateX(-50%);}

.eclipse-paging {float: left;}
.eclipse-paging-button {width: 15px; height: 15px; margin: 0 0 0 10px; background: #8389e0; border-radius: 50%; text-indent: -9999em;}
.eclipse-paging-button:first-child {margin-left: 0;}
.eclipse-paging-active {background: #000000;}

.eclipse-auto-play {display: block; float: left; width: 25px; height: 25px; margin: 0 0 0 10px; background: url(images/play.png) 0 0 no-repeat; text-indent: -9999em;}
.eclipse-auto-stop {display: block; float: left; width: 25px; height: 25px; margin: 0 0 0 10px; background: url(images/stop.png) 0 0 no-repeat; text-indent: -9999em;}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0; font-family: inherit; font-style: normal; font-weight: inherit;
    font-size: inherit; line-height: inherit; text-decoration: inherit; color: inherit; vertical-align: top; outline: none;}

html {width: 100%; height: 100%; -ms-touch-action: manipulation; touch-action: manipulation;}
body {width: 100%; height: 100%; font-family: Verdana, Geneva, Tahoma, sans-serif; font-weight: 200;
    font-size: 1.2em; line-height: 1.5;
    color: #666666; -webkit-font-smoothing: antialiased; /*font-smoothing: antialiased;*/ -webkit-tap-highlight-color: rgba(0, 0, 0, 0); -webkit-text-size-adjust: 100%; -webkit-print-color-adjust: exact;}

table {width: 100%; border-spacing: 0; table-layout: fixed;}

td, th {vertical-align: middle;}

a {
    color: #be005e;
    padding: 0 1px;
    text-decoration: none;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -webkit-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

img {
    /* background-image: url("images/frag.png"); */
    width: 300px;
}

#outer {overflow: hidden; position: relative; width: 100%; min-height: 100vh; padding: 150px; background: #fff;}

#inner {
    /* max-width: 2100px;  */
    padding: 100px 100px;
    margin: 0 auto;
    background: #ffffff;
}

#inner h1 {margin: 0 0 100px; font-weight: 700; font-size: 2em; color: #000000;}
#inner h2 {margin: 0 0 20px; font-weight: 400; font-size: 2em; color: #000000;}

#inner .greeting {margin: 0 0 100px;}
#inner .greeting .txt strong {font-weight: 400; color: #000000;}
#inner .greeting .link {display: inline-block; margin: 10px 0 0; color: #1d86dc;}

#inner .options {margin: 0 0 100px;}
#inner .options table thead tr th {padding: 15px; color: #000000; text-align: center; background: #f7f7f7;}
#inner .options table tbody tr td {padding: 15px; text-align: center; border-bottom: 1px solid #dddddd;}

#inner .options {margin: 0 0 100px;}
#inner .options table thead tr th {padding: 15px; color: #000000; text-align: center; background: #f7f7f7;}
#inner .options table tbody tr td {padding: 15px; text-align: center; border-bottom: 1px solid #dddddd;}
#inner .options table tbody tr td:nth-child(3) {text-align: left;}
#inner .options table tbody tr td a {color: #569cd6;}

#inner .methods {margin: 0 0 100px;}
#inner .methods table thead tr th {padding: 15px; color: #000000; text-align: center; background: #f7f7f7;}
#inner .methods table tbody tr td {padding: 15px; text-align: center; border-bottom: 1px solid #dddddd;}
#inner .methods table tbody tr td a {color: #569cd6;}

#inner .demowrap {margin: 0 0 100px;}
#inner .demowrap .demo {width: 100%; margin: 0 auto 100px;}
#inner .demowrap .demo:last-child {margin-bottom: 0;}
#inner .demowrap .demo .desc {margin: 0 0 20px;}

#inner .demowrap .demo .desc .tit {color: #000000;}
#inner .demowrap .demo .desc .txt {margin: 10px 0 0;}
#inner .demowrap .demo .source {
    margin: 30px 0 0; padding: 25px;
    border-radius: 15px;
    background: #1e1e1e; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 14px; line-height: 1.5;
    color: #ffffff; letter-spacing: 0.1em; word-break:break-all; white-space: pre-wrap;}
#inner .demowrap .demo .source .hljs-tag {color: #569cd6;}
#inner .demowrap .demo .source .hljs-attr {color: #9cdcfe;}
#inner .demowrap .demo .source .hljs-string {color: #ce723b;}
#inner .demowrap .demo .source .hljs-number {color: #b5cea8;}
#inner .demowrap .demo .source .hljs-selector-id {color: #d7983d;}
#inner .demowrap .demo .source .hljs-selector-class {color: #d7983d;}
#inner .demowrap .demo .source .hljs-selector-tag {color: #d7983d;}
#inner .demowrap .demo .source .hljs-attribute {color: #9cdcfe;}
#inner .demowrap .demo .source .hljs-keyword {color: #569cd6;}
#inner .demowrap .demo .source .hljs-literal {color: #569cd6;}
#inner .demowrap .demo .source .hljs-subst {color: #569cd6;}
#inner .demowrap .demo .source .hljs-comment {color: #6a9955;}